{
  "witness": "YOURWITNESSNAME",
  "privateActiveKey": "YOURACTIVEKEY",
  "interval": 360,
  "peg": false,
  "peg_multi": 1,

  "binance": true, 
  "bittrex": true, 
  "huobi": true, 
  "poloniex": false,
  "upbit": false,

  "rpc": [
    "https://api.hivekings.com",
    "https://api.hive.blog",
    "https://api.openhive.network",
    "https://anyx.io"
  ]
}
