{
  "witness": "YOURWITNESSNAME",
  "privateActiveKey": "YOURACTIVEKEY",
  "interval": 360,
  "peg": false,
  "peg_multi": 1,

  "binance": true, 
  "bittrex": true, 
  "huobi": true, 
  "poloniex": true,
  "upbit": true,

  "rpc": [
    "https://api.steemit.com",
    "https://steemd.minnowsupportproject.org",
    "https://steemd.privex.io",
    "https://rpc.steemviz.com",
    "https://gtg.steem.house:8090/"
  ]
}
