{
  "witness": "YOURWITNESSNAME",
  "privateActiveKey": "YOURACTIVEKEY",
  "interval": 360,
  "peg": false,
  "peg_multi": 1,

  "testmode": false,

  "binance": true,
  "bittrex": true,
  "huobi": true,
  "ionomy": true,
  "probit": true,
  "upbit": true,

  "hiverpc": [
    "https://anyx.io",
    "https://api.hivekings.com",
    "https://api.hive.blog",
    "https://api.openhive.network"
  ]
}
